.heading {
  margin-top: var(--spacing-s);
  text-align: center;

  & > p {
    display: inline-block;
    font: var(--font-heading-1);

    & + & {
      margin-left: var(--spacing-xs);
    }
  }
}

.content {
  margin-top: var(--spacing-s);
  font: var(--font-paragraph-m);
  text-align: center;

  & > p {
    margin-top: var(--spacing-xs);
  }
}
