.calloutBlock {
  display: flex;
  gap: var(--spacing-s);
  align-items: flex-start;
  padding: var(--spacing-m) var(--spacing-s);
  margin: var(--spacing-s) 0;
  background: var(--color-neutral-border);
  border-radius: var(--spacing-xs);
}
