.badge {
  display: inline-flex;
  gap: var(--spacing-xs);
  align-items: center;
  padding: 0 var(--spacing-s);
  color: var(--color-neutral-background);
  background: var(--color-primary-base);
  border-radius: var(--spacing-s);
}

.clickable {
  &:hover {
    background: var(--color-primary-hover);
  }

  &:active {
    background: var(--color-primary-active);
  }
}
