.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  font: var(--font-paragraph-l);
  color: var(--color-neutral-secondary-text);
}

.icon {
  width: 1em;
  height: 1em;
}
