/* CSS reset taken from Josh Comeau (https://www.joshwcomeau.com/css/custom-css-reset/) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  isolation: isolate;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Design system */
html {
  /* Colors */
  --color-neutral-background: #101928; /* Grey/900 */
  --color-neutral-border: #1d2739; /* Grey/800 */
  --color-neutral-text: #f7f9fc; /* Grey/75 */
  --color-neutral-outline: #f9fafb; /* Grey/50 */
  --color-primary-active: #cc400c; /* Primary/600 */
  --color-primary-hover: #eb5017; /* Primary/500 */
  --color-primary-base: #f56630; /* Primary/400 (base) */

  /* Fonts */
  --font-family: 'Segoe UI', tahoma, geneva, verdana, sans-serif;
  --font-heading-1: 600 2rem/2.25rem var(--font-family);
  --font-heading-2: 600 1.75rem/2rem var(--font-family);
  --font-heading-3: 600 1.5rem/1.75rem var(--font-family);
  --font-paragraph-l: 400 1rem/1.5rem var(--font-family);
  --font-paragraph-m: 400 0.875rem/1.25rem var(--font-family);
  --font-paragraph-s: 400 0.75rem/1rem var(--font-family);

  /* Spacing */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-s: 1rem; /* 16px */
  --spacing-m: 1.5rem; /* 24px */
  --spacing-l: 2.25rem; /* 36px */
  --spacing-xl: 2.75rem; /* 44px */
  --spacing-xxl: 3.5rem; /* 56px */
  --spacing-3xl: 4.5rem; /* 72px */
  --spacing-grid-gap: 1.125rem;

  @media (width >= 48rem) {
    --spacing-xl: 3rem;
    --spacing-xxl: 4rem;
    --spacing-3xl: 5rem;
    --spacing-grid-gap: 1rem;
  }

  @media (width >= 64rem) {
    --spacing-xl: 3.25rem;
    --spacing-xxl: 5rem;
    --spacing-3xl: 6rem;
  }

  @media (width >= 90rem) {
    --spacing-l: 2.5rem;
    --spacing-xl: 3.75rem;
    --spacing-xxl: 5.5rem;
    --spacing-3xl: 6.75rem;
    --spacing-grid-gap: 1.25rem;
  }

  @media (width >= 120rem) {
    --spacing-m: 1.75rem;
    --spacing-l: 3rem;
    --spacing-xl: 4.5rem;
    --spacing-xxl: 6.75rem;
    --spacing-3xl: 7.75rem;
  }

  /* defaults */
  font: var(--font-paragraph-m);
  color: var(--color-neutral-text);

  h1 {
    font: var(--font-heading-1);
  }

  h2 {
    font: var(--font-heading-2);
  }

  h3 {
    font: var(--font-heading-3);
  }
}
