.html {
  height: 100%;
  background-color: var(--color-neutral-background);
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--spacing-xl);
  margin: var(--spacing-xs) var(--spacing-xl);
}
