.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}

.logo {
  width: 20%;
}

.text {
  background: -webkit-linear-gradient(-45deg, blue, red);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 600px;
  font-family: 'DejaVu Sans Mono, monospace';
  font-style: italic;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  padding: 0 8px;
}

.heading {
  font-size: 3vh;
}

.content {
  font-size: 2.5vh;
}

.icon {
  -webkit-text-fill-color: black;
  font-style: normal;
  font-weight: normal;
}
