.link {
  color: var(--color-primary-base);
  text-decoration: none;

  &:hover {
    color: var(--color-primary-hover);
    text-decoration: underline;
  }

  &:active {
    color: var(--color-primary-active);
    text-decoration: underline;
  }
}

.heading {
  margin-top: var(--spacing-m);
}

.paragraph {
  margin: var(--spacing-xs) 0;
}

.blockquote {
  padding: var(--spacing-xxs) var(--spacing-s);
  margin: var(--spacing-s) 0;
  font-style: italic;
  border-left: 5px solid var(--color-neutral-outline);
}
