.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: auto;
  padding: 24px 0;
  max-width: 960px;
}

.footer {
  width: 100%;
  height: 120px;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groupOfLinks {
  margin-top: 8px;
}

.groupOfLinks a + a {
  margin-left: 8px;
}

.groupOfLinks img {
  height: 2em;
}
