.card {
  padding: var(--spacing-s);
  background: linear-gradient(45deg, var(--color-neutral-border), #0640b5);
  border-radius: var(--spacing-xs);
}

.clickable {
  outline: transparent 2px solid;
  transition: outline-color 0.25s ease;

  &:hover {
    outline-color: var(--color-primary-hover);
  }

  &:active {
    outline-color: var(--color-primary-active);
  }
}
