/* CSS reset taken from Josh Comeau (https://www.joshwcomeau.com/css/custom-css-reset/) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  isolation: isolate;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Design system */
html {
  /* Colors */
  --color-neutral-background: #101928; /* Grey/900 */
  --color-neutral-text: #f7f9fc; /* Grey/75 */

  /* Spacing */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-s: 1rem; /* 16px */
  --spacing-m: 1.5rem; /* 24px */
  --spacing-l: 2.25rem; /* 36px */
  --spacing-xl: 2.75rem; /* 44px */
  --spacing-xxl: 3.5rem; /* 56 */
  --spacing-3xl: 4.5rem; /* 72 */

  --spacing-grid-gap: 1.125rem;

  @media (min-width: 48rem) {
    --spacing-xl: 3rem;
    --spacing-xxl: 4rem;
    --spacing-3xl: 5rem;

    --spacing-grid-gap: 1rem;
  }

  @media (min-width: 64rem) {
    --spacing-xl: 3.25rem;
    --spacing-xxl: 5rem;
    --spacing-3xl: 6rem;
  }

  @media (min-width: 90rem) {
    --spacing-l: 2.5rem;
    --spacing-xl: 3.75rem;
    --spacing-xxl: 5.5rem;
    --spacing-3xl: 6.75rem;

    --spacing-grid-gap: 1.25rem;
  }

  @media (min-width: 120rem) {
    --spacing-m: 1.75rem;
    --spacing-l: 3rem;
    --spacing-xl: 4.5rem;
    --spacing-xxl: 6.75rem;
    --spacing-3xl: 7.75rem;
  }

  /* defaults */
  color: var(--color-neutral-text);
}
